/*
COLORS:

Light lime: #84cc16
Medium yellow: #a16207
Dark amber: #92400e

*/
/* Basic reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}
/* header */
.header {
  height: 90vh;
  background-image: linear-gradient(to top left, #92410ebf, #83cc1689),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* The 50% starts at the start of the div. so if we want our div center we use transform: translate;      */
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-prime {
  color: #fff;
  text-transform: uppercase;

  /* use this in the container to get rid of shaking animation */
  backface-visibility: hidden;
  margin-bottom: 2rem;
}

.heading-prime--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;

  /* animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out; */

  animation: moveInLeft 1.5s ease-out;
}

.heading-prime--second {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.74rem;
  font-weight: 700;

  /* animation: moveInRight 1.5s ease-in-out; */

  animation-name: moveInRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

/* Heading prime main moves in from the left */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Heading prime main second in from the right */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* btn moves in from the bottom */
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

/* This makes a copy of the button without the words and hides it behind the original button */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveUp 0.1s ease-out 1.3s;
  animation-fill-mode: backwards;
  /* animation-fill-mode: backwards starts the elimate at the animation */
}
