/*
COLORS:

Light lime: #84cc16
Medium yellow: #a16207
Dark amber: #92400e

*/
/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  color: #777;
  padding: 3rem;
}
/* header */
.header {
  height: 90vh;
  background-image: linear-gradient(to top left, #92410ebf, #83cc1689),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0%, 100% 70%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 50%; 
  /* The 50% starts at the start of the div. so if we want our div center we use transform: translate;      */
  transform: translate(-50%,-50%);
}

.heading-prime{
  color: #fff;
  text-transform: uppercase;
}

.heading-prime-main{
  display: block;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
}

.heading-prime-second{
  display: block;
  font-size: 2rem;
  letter-spacing: 1.74rem;
  font-weight: 700;
}